* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 導覽列 */
nav {
    padding: 20px;
    /* 顯示：靈活 */
    display: flex;
    /* 均勻排列每個子元素，首個放起點，最後放終點 */
    justify-content: space-between;
    /* 盒型陰影：左右 上下 模糊 顏色 */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    /* 定位：黏住 */
    position: sticky;
    /* 上方：0 */
    top: 0;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    /* 深度：數字越大越上方 */
    z-index: 1;
}

nav ol li {
    /* 顯示：行內-區塊 */
    display: inline-block;
    padding: 0 50px;
}

nav ol li a {
    color: #252525;
    /* 文字裝飾：無 (去掉底線) */
    text-decoration: none;
    line-height: 52px;
    font-size: 20px;
}

nav ol li a:hover {
    color: #9F0403;
}

#logo {
    font-family: 'Noto Serif TC', serif;
    font-weight: 900;
    font-size: 32px;
}

#logo a {
    color: #252525;
    text-decoration: none;
    font-weight: 900;
}

#logo a:hover {
    color: #9F0403;
}

#logo img {
    width: 50px;
    /* 垂直對齊：中間 */
    vertical-align: -12px;
    margin-right: 10px;
    background: #9F0403;
    border-radius: 50%;
    padding: 10px;
}

/* 橫幅 Banner */
#banner {
    /* 100vh 100%螢幕高度 */
    height: 100vh;
    /* 背景圖片：連結("圖片位址") */
    background-image: url("https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    /* 背景尺寸：覆蓋 */
    background-size: cover;
    /* 變形：縮放(1) - 1 為 100% */
    transform: scale(1);
    /* 轉換：秒數 */
    transition: 3s;
}

#banner:hover {
    transform: scale(1.15);
}

#banner-box {
    /* 溢出：隱藏 (隱藏超出範圍的部分) */
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
}

/* 內容 */
.content {
    width: 900px;
    padding: 30px 10px;
    margin: 0 auto;
}

.content h1 {
    color: #9F0403;
    text-align: center;
}

.content p {
    padding: 20px 0;
    line-height: 2;
}

.content ul li {
    padding: 10px 0;
}

.red-box {
    background-color: #9F0403;
    color: white;
}

.red-box h1 {
    color: white;
}

/* 頁尾 */
footer {
    height: 200px;
    /* 內容只有一行文字可以使用 行高=高度 垂直置中 */
    line-height: 200px;
    background-color: #9F0403;
    color: white;
    text-align: center;
}